html,body{
    background-color: #fff;
}


.van-nav-bar {
    background-color: #1ac5fb;
  }
  .van-nav-bar .van-icon {
    color: #fff;
    font-size: 0.5rem;
  }
  .van-nav-bar__text,
  .van-nav-bar__title {
    color: #fff;
    font-size: 0.4rem;
  }