.am-navbar-light{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    z-index:5;
    
}

.am-navbar-light1{
    background-color: orange;
    color:#fff;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    z-index:5;
}